
@inherits EditSettingsCode
@page "/EditSettings"


    <h3>EditSettings</h3>

<DisplayMsg ErrorMessage=@BaseErrorMessage InfoMessage=@BaseInfoMessage SecretErrorDetails=@BaseSecretErrorDetails></DisplayMsg>

<EditForm Model=@settingItem OnValidSubmit="HandleValidSubmit">
    <DataAnnotationsValidator />

    <div class="form-group">
        <label>Custom Codes</label>
        <InputText @bind-Value=settingItem.SystemCustomCodes class="form-control" />
    </div>

    <div class="form-group">
        <label>PinNumber1</label>
        <InputText @bind-Value=settingItem.PinNumber1 class="form-control" />
    </div>

    <div class="form-group">
        <label>PinNumber2</label>
        <InputText @bind-Value=settingItem.PinNumber2 class="form-control" />
    </div>

    <div class="form-group">
        <label>PinNumber3</label>
        <InputText @bind-Value=settingItem.PinNumber3 class="form-control" />
    </div>


    <div class="form-group">
        <label>Include Secret Info In ErrMsg To User</label>
        <MatCheckbox @bind-Value=settingItem.IncludeSecretInfoInErrMsgToUser></MatCheckbox>
    </div>

    <div class="form-group">
        <label>CopywriteNotice</label>
        <InputText @bind-Value=settingItem.CopywriteNotice class="form-control" />
    </div>


    <div class="form-group">
        <label>ProductName</label>
        <InputText @bind-Value=settingItem.ProductName class="form-control" />
    </div>


    <div class="form-group">
        <label>ContactUrl</label>
        <InputText @bind-Value=settingItem.ContactUrl class="form-control" />
    </div>


    <div class="form-group">
        <label>DisableSystem</label>
        <MatCheckbox @bind-Value=settingItem.DisableSystem></MatCheckbox>
    </div>


    <div class="form-group">
        <label>DisableMessage</label>
        <InputText @bind-Value=settingItem.DisableMessage class="form-control" />
    </div>


    <div class="form-group">
        <label>AboutLine1</label>
        <InputText @bind-Value=settingItem.AboutLine1 class="form-control" />
    </div>

    <div class="form-group">
        <label>AboutLine2</label>
        <InputText @bind-Value=settingItem.AboutLine2 class="form-control" />
    </div>

    <div class="form-group">
        <label>AboutLine3</label>
        <InputText @bind-Value=settingItem.AboutLine3 class="form-control" />
    </div>


    <div class="form-group">
        <label>TextField1</label>
        <InputText @bind-Value=settingItem.TextField1 class="form-control" />
    </div>

    <div class="form-group">
        <label>TextField2</label>
        <InputText @bind-Value=settingItem.TextField2 class="form-control" />
    </div>

    <div class="form-group">
        <label>TextField3</label>
        <InputText @bind-Value=settingItem.TextField3 class="form-control" />
    </div>

    <div class="form-group">
        <label>TextField4</label>
        <InputText @bind-Value=settingItem.TextField4 class="form-control" />
    </div>

    <div class="form-group">
        <label>CheckBox1</label>
        <MatCheckbox @bind-Value=settingItem.CheckBox1></MatCheckbox>
    </div>

    <div class="form-group">
        <label>CheckBox2</label>
        <MatCheckbox @bind-Value=settingItem.CheckBox2></MatCheckbox>

    </div>

    <div class="form-group">
        <label>CheckBox3</label>
        <MatCheckbox @bind-Value=settingItem.CheckBox3></MatCheckbox>
    </div>

    <div class="form-group">
        <label>CheckBox4</label>
        <MatCheckbox @bind-Value=settingItem.CheckBox4></MatCheckbox>
    </div>

    <div class="form-group">
        <label>CheckBox5</label>
        <MatCheckbox @bind-Value=settingItem.CheckBox5></MatCheckbox>
    </div>

    <div class="form-group">
        <label>CheckBox6</label>
        <MatCheckbox @bind-Value=settingItem.CheckBox6></MatCheckbox>
    </div>

    <div class="form-group">
        <label>CheckBox7</label>
        <MatCheckbox @bind-Value=settingItem.CheckBox7></MatCheckbox>
    </div>

    <input type="submit" class="btn btn-primary" value="Save" />
    <button class="btn btn-primary" @onclick="CancelForm">  Cancel  </button>

</EditForm>










